[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
uwsgi = "==2.0.22"
uwsgitop = "==0.11"
uwsgi-tools = "==1.1.1"
invenio-cli = "==1.1.0"
invenio-app-rdm = {version = "==11.0.4", extras = ["opensearch2", "postgresql"]}
# name below should match what's in /site/setup.cfg
vault = {editable="True", path="./site"}
repository-cli = "==0.10.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
